<%- include('../../partials/head.ejs') %>
<div class="container my-container my-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3 class="mb-3">Create A New Acccount</h3>
            <div class="card card-body">
                <form action="/auth/signup" method="post">
                    <div class="form-group">
                        <label for="username">Enter Your User Name (Must Be Uniq)</label>
                        <input type="text" name="username" id="username" class="form-control <%= error.username ? 'is-invalid' : '' %>  " value="<%= value.username ? value.username
                        : '' %>">
                        <div class="invalid-feedback">
                            <%= error.username && error.username %>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Enter Your valid Email</label>
                        <input type="email" name="email" id="email" value="<%= value.email ? value.email : '' %>" class="form-control <%= error.email ? 'is-invalid' : '' %>  ">
                        <div class="invalid-feedback">
                            <%= error.email && error.email %>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Enter A Strong Password </label>
                        <input type="password" name="password" value="<%= value.password ? value.password : '' %>" id="password" class="form-control  <%= error.password ? 'is-invalid' : '' %> ">
                        <div class="invalid-feedback">
                            <%= error.password && error.password %>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirmpassword">Confirm Your Password</label>
                        <input type="password" name="confirmpassword" id="confirmpassword" class="form-control <%= error.confirmpassword? 'is-invalid' : '' %> ">
                        <div class="invalid-feedback">
                            <%= error.confirmpassword && error.confirmpassword%>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary" value="SignUp">
                </form>
                <a href="/auth/login" class="my-3 text-center">Already Have An Account? Login Here</a>
            </div>
        </div>
    </div>
</div>

<%- include('../../partials/footer.ejs') %>



</body>
</html>